[Desktop Entry]
Type=Application
Name=yata
GenericName=File Manager
Comment=Modal, keyboard-first file management
Exec=yata %U
Icon=io.github.melandur.yata
Terminal=false
Categories=Utility;FileTools;FileManager;
MimeType=inode/directory;
Keywords=files;folders;browser;explorer;manager;
StartupNotify=true
StartupWMClass=io.github.melandur.yata
